*.* text eol=crlf
*.jpg binary
*.png binary
*.ico binary

# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
*.cpp linguist-language=C++
*.h linguist-language=C++
PlainCEETimer.Setup/** linguist-documentation