CEETimerCSharpWinForms/.vs/
CEETimerCSharpWinForms/bin/
CEETimerCSharpWinForms/obj/
CEETimerCSharpWinForms/packages/
CEETimerCSharpWinForms/app.config

PlainCEETimer/.vs/
PlainCEETimer/bin/
PlainCEETimer/obj/
PlainCEETimer/packages/
PlainCEETimer/app.config

NSIS/*.exe
PlainCEETimer.Setup/*.exe
