CEETimerCSharpWinForms/.vs/
CEETimerCSharpWinForms/bin/
CEETimerCSharpWinForms/obj/
CEETimerCSharpWinForms/packages/
CEETimerCSharpWinForms/packages.config
NSIS/*.exe
CEETimerCSharpWinForms/app.config
