CEETimerCSharpWinForms/.vs/
CEETimerCSharpWinForms/bin/
CEETimerCSharpWinForms/obj/
CEETimerCSharpWinForms/packages/
NSIS/*.exe
CEETimerCSharpWinForms/app.config
PlainCEETimer/.vs/
PlainCEETimer/bin/
PlainCEETimer/obj/
PlainCEETimer/packages/
NSIS/*.exe
PlainCEETimer/app.config
